# Dependencies
node_modules/

# Next.js
.next/
out/

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.backup
.env.production

# Debug / logs
npm-debug.log*
yarn-error.log*

# Misc
*.tsbuildinfo
